@CHARSET "ISO-8859-1";

/*====== ALIGN ===========*/
.tengah {
	text-align: center;
}

.kiri {
	text-align: left;
}

.kanan {
	text-align: right;
}
/*====== END ALIGN ===========*/

/*====== COLOR ===========*/
.fontHitam {
	color: blue !important;
}

.fontMerah {
	color: red;
}

.fontBold {
	font-weight: bold;
}

.backgroundRed {
	background-color: red;
}

.backgroundGreen {
	background-color: green;
}
/*====== END COLOR ===========*/

/*====== TABLE ===========*/
td.width15 {
	width: 15%;
}

td.width30 {
	width: 30%;
}

td.width100 {
	width: 1000%;
}

.table-borderless td, .table-borderless th {
	border: 0 !important;
}

.table-nonfluid {
	width: auto !important;
}

.non-fluid{
	width: auto !important;
}
/*======END TABLE ===========*/

/*====== KHUSUS HRIS_PORTAL ===========*/
.iconDashboard {
	height: 200px;
	width: 200px;
	margin: 2px 2px 2px 2px !important;
}
/*====== END KHUSUS HRIS_PORTAL ===========*/

/*======KHUSUS HRIS_EMPLOYEE =======*/
.subheader-height {
	height: 10 !important;
}
/* ======================== */

/*====== OTHERS ===========*/
#timeline {
	margin: 0px 0px -7px 0px;
}

.row {
	height: 100%;
}

#page-wrapper {
	min-height: 592px;
}

.btn {
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.form-control {
 border-bottom-right-radius: 15px;
 border-top-left-radius: 15px;
 padding-top: 2px;
 padding-bottom: 2px;
 height: 22px !important;
}

.form-textarea {
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 235px !important;
        resize: none;
}


.nopadding {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

hr {
	size: 50px;
}

body {
 font-family: 'Roboto', sans-serif;
}

div.modal div.modal-backdrop {
	z-index: 0;
}

.datepicker {
	z-index: 1151 !important;
}

#timeText {
	padding-top: 14px;
	color: white;
	font-weight: normal;
}
/*====== END OTHERS ===========*/

/*====== WARNA NAVBAR =========*/
.navbar-inverse {
	background-color: #337AB7;
	border-color: #337AB7
}

#warnaPutih {
	color: white;
}

.navbar-inverse .navbar-text>li>a {
	color: #fff
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover,
	.navbar-inverse .navbar-nav>.active>a:focus {
	color: white;
	font-weight: bold;
	background-color: #5f9dd3 !important;
}

.badge {
  background-color: #e60000;
}
/*====== END WARNA NAVBAR =========*/

/*==== STYLE DATE TIME PICKER ====*/
.timepicker-picker .table-condensed td {
	text-align: center
}

/*======STYLE INPUT ADDON=====*/
.input-addon-resize{
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 22px !important;
}

/*======PLUS MINUS ADDON=====*/
.input-number-resize{
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 22px !important;
}

.form-width {
	width: 200px !important;
}

/*=== back to top ====*/
#toTop{
	position: fixed;
	bottom: 10px;
	right: 500px;
	cursor: pointer;
	display: none;
	background-color: #337AB7;
}

/* ==== form control with various size (edwin) ==== */

.form-control-mn {
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 22px !important;
	z-index: 0 !important; 
	width: 80px !important;
}

.form-control-sm {
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 22px !important;
	z-index: 0 !important; 
	width: 135px !important;
}

.form-control-md {
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 22px !important;
	z-index: 0 !important; 
	width: 235px !important;
}

.form-control-lg {
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 22px !important;
	z-index: 0 !important; 
	width: 375px !important;
}

.form-control-feedback {
	line-height: 23px;
}

.form-control-md-1 {
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 22px !important;
	z-index: 0 !important; 
	width: 185px !important;
}