@CHARSET "ISO-8859-1";

/*====== ALIGN ===========*/
.tengah {
	text-align: center;
}

.kiri {
	text-align: left;
}

.kanan {
	text-align: right;
}
/*====== END ALIGN ===========*/

/*====== COLOR ===========*/
.fontHitam {
	color: blue !important;
}

.fontMerah {
	color: red;
}

.fontBold {
	font-weight: bold;
}

.backgroundRed {
	background-color: red;
}

.backgroundGreen {
	background-color: green;
}
/*====== END COLOR ===========*/

/*====== TABLE ===========*/
table th {
	background-color: black;
	color: white;
	align: center;
}

td.width30 {
	width: 30%;
}

.table-borderless td, .table-borderless th {
	border: 0 !important;
}

.table-nonfluid {
	width: auto !important;
}
/*======END TABLE ===========*/

/*====== SIDE BAR ===========*/
.sidebar {
	background-color: black;
	min-height: 100%;
	min-height: 700px;
	padding-top: 20px;
	float: left;
}

.sidebar ul {
	height: 10%;
	list-style-type: none;
	margin: 0;
	width: 200px;
}

.sidebar ul li {
	height: 40px;
	margin: 0px 0px 0px -48px;
	/* 	padding: 5px 0px 5px 5px; */
}

.sidebar ul li a {
	display: block;
	height: 100%;
	text-decoration: none;
	color: #999999;
	/* 	background: blue; */
}

.sidebar ul li a:hover {
	text-decoration: none;
	color: black;
	background: white;
	font-weight: bold;
}

.barTerpilih {
	font-weight: bold;
	color: white;
	font-weight: bold;
}
/*======END SIDE BAR ===========*/

/*====== KHUSUS HRIS_PORTAL ===========*/
.iconDashboard {
	height: 200px;
	width: 200px;
}
/*====== KHUSUS HRUS_PORTAL ===========*/
#timeline {
	margin: 0px 0px -7px 0px;
}

.row {
	height: 100%;
}

.btn {
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}

.form-control {
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}

hr {
	size: 50px;
}