@CHARSET "ISO-8859-1";

.tengah {
	text-align: center;
}

.kiri {
	text-align: left;
}

.kanan {
	text-align: right;
}

.btn {
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}

.form-control {
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}

.kanan {
	text-align: right;
}

hr {
	size: 50px;
}

table th {
	background-color: black;
	color: white;
	align: center;
}

td.width30 {
	width: 30%;
}

.iconDashboard {
	height: 200px;
	width: 200px;
}

.table-nonfluid {
	/* width: auto !important; */
	
}